<div class="input{{#if modifier}} {{modifier}}{{/if}}">
    <input 
        type="{{type}}"
        name="{{name}}"
        id={{name}}
        class="input__input"
        {{#if value}}
        value="{{value}}"
        {{else}}
        placeholder="{{nameRus}}"
        {{/if}}
        {{#if readonly}}{{readonly}}{{/if}}
        {{#if pattern}}pattern="{{{pattern}}}"{{/if}}
        {{#if required}}{{required}}{{/if}}
    />
    <label for="{{name}}" class="input__label">{{nameRus}}</label>
    <div class="input__error">Ошибка</div>
</div>